@use "../../styles/variables" as *;

.chat__input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #333;

    input {
        flex: 1;
        padding: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        margin-right: 8px;

        background: #fff;
        color: $secondary-color;
        font-family: $font-family;
    }

    button {
        background: $accent-color;
        border: none;
        color: white;
        padding: 0 12px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            background: $accent-color-dark;
            transform: $hover-lift-xsoft;
        }
    }
}
