@use "../../styles/variables" as *;

/* APP WRAPPER (widget) */
.chat-app {
    position: fixed;
    bottom: 90px;
    right: 20px;

    width: 600px;
    height: 500px;

    display: flex;

    border-radius: 16px;
    overflow: hidden;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    padding: 10px;

    background: #121212;
    border-right: 1px solid rgba(255, 255, 255, 0.05);

    display: flex;
    flex-direction: column;

    .new-chat {
        background: rgba(255, 255, 255, 0.05);
        border: none;
        color: #fff;

        padding: 8px;
        border-radius: 8px;

        cursor: pointer;
        margin-bottom: 10px;

        transition: 0.2s;

        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }

    .chat-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .chat-item {
        padding: 8px;
        border-radius: 8px;
        font-size: 13px;

        cursor: pointer;
        color: #ccc;

        transition: 0.2s;

        &:hover {
            background: rgba(255, 255, 255, 0.05);
        }

        &.active {
            background: rgba(255, 255, 255, 0.1);
            color: #fff;
        }
    }
}

/* CHAT PANEL */
.chat {
    flex: 1;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: $secondary-color;
    color: #fff;

    &__header {
        padding: 12px;
        border-bottom: 1px solid #333;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .chat__actions {
            display: flex;
            gap: 15px;

            button {
                background: transparent;
                border: none;
                color: #aaa;
                cursor: pointer;

                font-size: 12px;
                transition: 0.2s;

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}
