@use "../../styles/variables" as *;

.chat {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 350px;
    height: 500px;
    background: $secondary-color;
    color: #fff;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    overflow: hidden;

    &__header {
        padding: 12px;
        border-bottom: 1px solid #333;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.chat__actions {
    display: flex;
    gap: 15px;
}

.chat__actions button {
    background: transparent;
    border: none;
    color: #aaa;
    cursor: pointer;

    font-size: 12px;
    transition: 0.2s;
}

.chat__actions button:hover {
    color: #fff;
}
