@use "../../styles/variables" as *;

.messages {
    flex: 1;
    min-height: 0;
    padding: 10px 0;

    overflow-y: auto;
    display: flex;
    flex-direction: column;

    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: #444 transparent;
}

.messages::-webkit-scrollbar {
    width: 0px;
}

.messages:hover::-webkit-scrollbar {
    width: 5px;
}

.messages::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #1677ff, #0e4dcc);
    border-radius: 10px;
}

/* message bubble */
.message {
    display: inline-block;
    width: fit-content;
    max-width: 85%;
    margin: 0 10px 8px 10px;
    padding: 8px 12px;
    border-radius: 12px;
    word-break: break-word;

    animation: fadeInUp 0.25s ease;
}

/* user */
.message.user {
    background: $accent-color;
    color: #fff;
    align-self: flex-end;
}

/* assistant */
.message.assistant {
    background: $primary-color;
    color: $secondary-color;
    align-self: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/* new message animations */
.message.user.new {
    animation: fadeInRight 0.25s ease;
}

.message.assistant.new {
    animation: fadeInLeft 0.25s ease;
}

/* cursor */
.cursor {
    display: inline-block;
    margin-left: 2px;
    animation: blink 1s infinite;
}

/* animations */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(8px) scale(0.98);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
