// Font
$font-family: "Inter", sans-serif;
$font-size-base: 16px;

// Colors
$primary-color: #ffffff; // glavni background sada svetao
$secondary-color: #f1f5f9; // kartice / sekcije

$accent-color: #06b6d4;
$accent-color-dark: #0891b2;

$section-alt-color: #f8fafc;
$hero-color: #020617; // OSTAVI dark hero
// Spacing
$spacing-base: 1rem;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

// Hover & elevation

$hover-lift-soft: translateY(-2px);
$hover-lift-xsoft: translateY(-1px);
