// Font
$font-family: "Inter", sans-serif;
$font-size-base: 16px;

// Colors
$primary-color: #dfd7d3;
$secondary-color: #4b3f3f;

// Spacing
$spacing-base: 1rem;

// Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
