@use "index" as *;
@use "../components/Button/Button.scss";

/* Base */
body {
    font-family: $font-family;
    color: #111827;
    background-color: $primary-color;
    font-size: 16px;
    line-height: 1.6;

    @media (max-width: 480px) {
        font-size: 15px;
        line-height: 1.7;
    }
}

body[data-ai-theme="light"] .chat-app {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.75), rgba(248, 250, 252, 0.85));
    backdrop-filter: blur(10px);

    //border: 1px solid rgba(0, 0, 0, 0.06);

    // box-shadow:
    //     0 10px 30px rgba(0, 0, 0, 0.15),
    //     0 0 0 1px rgba(255, 255, 255, 0.6);
}

// body[data-ai-theme="dark"] .chat-app {
//     background: linear-gradient(180deg, rgba(15, 23, 42, 0.95), rgba(2, 6, 23, 0.98));
// }

// body[data-ai-theme="dark"] .sidebar {
//     background: rgba(15, 23, 42, 0.85);
//     backdrop-filter: blur(10px);
// }

// body[data-ai-theme="light"] .sidebar {
//     background: linear-gradient(180deg, rgba(30, 41, 59, 0.75), rgba(15, 23, 42, 0.85));
//     backdrop-filter: blur(10px);

//     border-right: 1px solid rgba(0, 0, 0, 0.05);
// }

/* Layout helpers */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section {
    padding: 80px 0;
}

/* subtle divider */
.section:not(.section-alt) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.04);
}

/* light sections */
.section-alt {
    background-color: $section-alt-color;
}

/* Titles */
.section-title,
.projects-title,
.technologies-title,
.experience-title,
.contact-title {
    font-size: 36px;

    @media (max-width: 768px) {
        font-size: 28px;
    }

    @media (max-width: 480px) {
        font-size: 24px;
    }
}

/* Text */
.about-text,
.experience-points li,
.contact-description {
    font-size: 18px;

    @media (max-width: 480px) {
        font-size: 15px;
        line-height: 1.7;
    }
}

/* Buttons */
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.tag {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 0.2px;
    transition: all 0.2s ease;
}
