@use "../../styles/index" as *;

.card {
    padding: 32px;
    border: 1px solid #eee;
    border-radius: 8px;
    background-color: #fff;

    display: flex;
    flex-direction: column;

    flex: 0 1 345px;

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.04);
    }
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
    color: $secondary-color;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
